<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <title>Clients</title>
</head>

<body>
    <div class="header">
        <h1 class="header_text">CLIENTS</h1>
        <a href={{url_for('logs_page')}}>LOGS</a>
    </div>

    <div class="table_container">
        <table class="table_dark_head">
            <thead>
                <th>ID</th>
                <th>IP ADDRESS</th>
                <th>BALANCE</th>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{client.ip_address}}</td>
                    <td>{{client.balance}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>