<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <title>Logs</title>
</head>

<body>
    <div class="header">
        <h1 class="header_text">LOGS OF CLIENTS RIDES</h1>
        <a href={{url_for('clients_page')}}>CLIENTS</a>
    </div>

    <div class="table_container">
        <table class="table_dark_head">
            <thead>
                <th>ID</th>
                <th>CLIENT ID</th>
                <th>IN-TIME</th>
                <th>OUT-TIME</th>
                <th>PRICE</th>
                <th>DURATION</th>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{log.id}}</td>
                    <td>{{log.client_id}}</td>
                    <td>{{log.in_time}}</td>
                    <td>{{log.out_time}}</td>
                    <td>{{log.price}}</td>
                    <td>{{log.duration}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>